.button {
    position: relative;
    z-index: 99;
    padding: 6px 12px;
    color: #ffffff;
    font-family: inherit;
    font-size: 18px;
    background-color: #48c4c8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
    &:hover {
        color: #ffffff;
        background-color: darken($color: #48c4c8, $amount: 10%);
    }
}