.button {
  padding: 6px 12px;
  color: $color-text;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  background-color: $color-button;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  outline: none;
  &:hover {
    background-color: darken($color-button, 7%);
  }
}

.button--accent {
  color: #ffffff;
  background-color: $color-accent;
  &:hover {
    background-color: darken($color-accent, 7%);
  }
}
.button--warning {
  color: #ffffff;
  background-color: $color-warning;
  &:hover {
    background-color: darken($color-warning, 7%);
  }
}
.button--danger {
  color: #ffffff;
  background-color: $color-danger;
  &:hover {
    background-color: darken($color-danger, 7%);
  }
}
